# Assignment Day 16-17

In [4]:
import pandas as pd
title = pd.read_csv("titles.csv")
title.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

**1.How many movies are listed in the titles dataframe?**

In [2]:
a = len(title)
print("The no. of movies listed in the titles is: ",a)

The no. of movies listed in the titles is:  244914

**2. What are the earliest two films listed in the titles dataframe?**

In [12]:
b = title.sort_values('year').head(2)
print("The earliest 2 films listed in the dataframe are: \n", b)

The earliest 2 films listed in the dataframe are:
                      title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

**3. How many movies have the title "Hamlet"?**

In [9]:
c = len(title[title.title == 'Hamlet'])
print("The no. of movies having the title Hamlet are: ",c)

The no. of movies having the title Hamlet are:  20

**4. How many movies are titled "North by Northwest"?**

In [10]:
d = len(title[title.title == 'North by Northwest'])
print("The no. of movies having the title Hamlet are: ",d)

The no. of movies having the title Hamlet are:  1

**5. When was the first movie titled "Hamlet" made?**

In [14]:
e = title[title.title == 'Hamlet'].sort_values('year').head(1)
print("The first movie titled Hamlet was made in: \n",e)

The first movie titled Hamlet was made in:
         title  year
52521  Hamlet  1910

**6. List all of the "Treasure Island" movies from earliest to most recent.**

In [16]:
f = title[title.title == 'Treasure Island'].sort_values('year').head()
print("List of all the Treasure Island movies from earliest to most recent is: \n",f)

List of all the Treasure Island movies from earliest to most recent is:
                   title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972

**7. How many movies were made in the year 1950?**

In [19]:
g = len(title[title.year == 1950])
print("No. of movies  made in the year 1950 are: \n",g)

No. of movies  made in the year 1950 are:
 1113

**8. How many movies were made in the year 1960?**

In [20]:
h = len(title[title.year == 1960])
print("No. of movies  made in the year 1960 are: \n",h)

No. of movies  made in the year 1960 are:
 1549

**9. How many movies were made from 1950 through 1959?**

In [24]:
I = len(title[(1950 <= title.year) & (title.year <= 1959)])
print("No. of movies made from 1950 through 1959 are: \n",I)

No. of movies made from 1950 through 1959 are:
 12934

**10. In what years has a movie titled "Batman" been released?**

In [25]:
j = title[title.title == 'Batman'].sort_values('year').head()
print("Years in which movie titled Batman been released are: \n",j)

Years in which movie titled Batman been released are:
          title  year
39349   Batman  1943
240896  Batman  1989

In [5]:
cast_data = pd.read_csv("cast.csv")
cast_data.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

**11. How many roles were there in the movie "Inception"?**

In [6]:
inception_m = cast_data[cast_data['title']=='Inception']
inception_m.head()

,title,year,name,type,character,n
98153,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
149008,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
183937,Inception,2010,Tom Berenger,actor,Browning,8.0
197877,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
260128,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0

In [33]:
Inception_char = inception_m['character'].unique()
k = len(Inception_char)
print("Total no. of roles in movie Inception were: \n", k)

Total no. of roles in movie Inception were:
 56

**12. How many roles in the movie "Inception" are NOT ranked by an "n" value?**

In [26]:
a = len(cast_data[(cast_data['title']=='Inception') & (cast_data['n'].isnull())])
print("How many roles in the movie Inception are NOT ranked by an n value? : \n",a)

How many roles in the movie Inception are NOT ranked by an n value? :
 27

**13. But how many roles in the movie "Inception" did receive an "n" value?**

In [27]:
b = len(cast_data[(cast_data['title']=='Inception') & (cast_data['n'].notnull())])
print("How many roles in the movie Inception did receive an n value? : \n",b)

How many roles in the movie Inception did receive an n value? :
 51

**14. Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.**

In [34]:
cast_northwest = (cast_data['title']=='North by Northwest')
a2 = cast_data.loc[cast_northwest]
print("The cast of North by Northwest in n-value order: \n",a2['name'])

The cast of North by Northwest in n-value order:
 12668          Stanley Adams
29122             Andy Albin
56389           Don Anderson
56610        Ernest Anderson
95950      Malcolm Atterbury
                 ...
3518333      Eva Marie Saint
3577128          Doris Singh
3599912         Helen Spring
3739133        Susan Whitney
3751311       Paula Winslowe
Name: name, Length: 116, dtype: object

**15. Display the entire cast, in "n"-order, of the 1972 film "Sleuth".**

In [53]:
s = cast_data[(cast_data['title'] == 'Sleuth') & (cast_data['year'] == 1972)]
print("The cast of North by Northwest in n-value order: \n",s['name'])

The cast of North by Northwest in n-value order:
 326773          Michael Caine
373876         Alec Cawthorne
1448690          Teddy Martin
1465483    John (II) Matthews
1705394      Laurence Olivier
2724553    Eve (III) Channing
Name: name, dtype: object

**16. Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".**

In [54]:
s1 = cast_data[(cast_data['title'] == 'Sleuth') & (cast_data['year'] == 2007)]
print("The cast of North by Northwest in n-value order: \n",s1['name'])

The cast of North by Northwest in n-value order:
 260242         Kenneth Branagh
326774           Michael Caine
373877     Alec (II) Cawthorne
1293634               Jude Law
1805907          Harold Pinter
2724552      Eve (II) Channing
3370424      Carmel O'Sullivan
Name: name, dtype: object

**17. How many roles were credited in the silent 1921 version of Hamlet?**

In [42]:
P = cast_data[(cast_data['title'] == 'Hamlet') & (cast_data['year'] == 1921)].character.shape[0]
print("No. of roles  credited in the silent 1921 version of Hamlet were: \n",P)

No. of roles  credited in the silent 1921 version of Hamlet were:
 9

**18. How many roles were credited in Branagh’s 1996 Hamlet?**

In [69]:
a3 = cast_data[(cast_data['title']=='Hamlet') & (cast_data['year']==1996)]
print("No. of roles credited in Branagh\'s 1996 Hamlet are: \n", a3)

No. of roles credited in Branagh's 1996 Hamlet are:
           title  year                    name     type  \
1731     Hamlet  1996              Riz Abbasi    actor
95861    Hamlet  1996    Richard Attenborough    actor
158642   Hamlet  1996     Simon Russell Beale    actor
214473   Hamlet  1996         David (V) Blair    actor
219554   Hamlet  1996           Brian Blessed    actor
250773   Hamlet  1996      Christopher Bowles    actor
260225   Hamlet  1996         Kenneth Branagh    actor
272749   Hamlet  1996          Richard Briers    actor
294652   Hamlet  1996          Michael Bryant    actor
319501   Hamlet  1996            Peter Bygott    actor
344365   Hamlet  1996       Kenneth W Caravan    actor
500916   Hamlet  1996           Billy Crystal    actor
518572   Hamlet  1996           Charles Daish    actor
576147   Hamlet  1996        G?rard Depardieu    actor
598618   Hamlet  1996          Reece Dinsdale    actor
604339   Hamlet  1996                Ken Dodd    actor
656817   Hamlet  1996             Rob Edwards    actor
669232   Hamlet  1996             Jimmy Ellis    actor
704270   Hamlet  1996        Nicholas Farrell    actor
708468   Hamlet  1996              Ray Fearon    actor
827066   Hamlet  1996            John Gielgud    actor
990819   Hamlet  1996         Charlton Heston    actor
1074691  Hamlet  1996           Ravil Isyanov    actor
1082161  Hamlet  1996            Derek Jacobi    actor
1210509  Hamlet  1996         Jeffery Kissoon    actor
1316617  Hamlet  1996             Jack Lemmon    actor
1400732  Hamlet  1996       Anthony Maddalena    actor
1417360  Hamlet  1996         Michael Maloney    actor
1489191  Hamlet  1996          Ian McElhinney    actor
1549128  Hamlet  1996              John Mills    actor
1556082  Hamlet  1996             Jimi Mistry    actor
1588218  Hamlet  1996       Frank (II) Morgan    actor
2040040  Hamlet  1996        Andrew Schofield    actor
2052796  Hamlet  1996           Orlando Seale    actor
2067657  Hamlet  1996            Rufus Sewell    actor
2151526  Hamlet  1996           Timothy Spall    actor
2154960  Hamlet  1996  John Spencer-Churchill    actor
2221910  Hamlet  1996         Thomas Szekeres    actor
2259675  Hamlet  1996                Ben Thom    actor
2404091  Hamlet  1996          Don Warrington    actor
2453099  Hamlet  1996          Robin Williams    actor
2500066  Hamlet  1996               David Yip    actor
2508377  Hamlet  1996             Jimmy Yuill    actor
2737885  Hamlet  1996          Julie Christie  actress
2814220  Hamlet  1996              Judi Dench  actress
2835947  Hamlet  1996          Angela Douglas  actress
2940033  Hamlet  1996           Yvonne Gidden  actress
2999610  Hamlet  1996         Rosemary Harris  actress
3119901  Hamlet  1996             Rowena King  actress
3154270  Hamlet  1996               Sarah Lam  actress
3451003  Hamlet  1996           Sian Radinger  actress
3456114  Hamlet  1996          Melanie Ramsay  actress
3728751  Hamlet  1996           Perdita Weeks  actress
3751232  Hamlet  1996            Kate Winslet  actress

                        character     n
1731        Attendant to Claudius   1.0
95861          English Ambassador   2.0
158642         Second Gravedigger  37.0
214473      Attendant to Claudius   3.0
219554   Ghost of Hamlet's Father   4.0
250773              Cadet in Play   NaN
260225                     Hamlet   5.0
272749                   Polonius   6.0
294652                     Priest   7.0
319501      Attendant to Claudius   8.0
344365                Laertes Mob   NaN
500916          First Gravedigger  10.0
518572              Stage Manager  11.0
576147                   Reynaldo  13.0
598618               Guildenstern  14.0
604339                     Yorick  15.0
656817                   Lucianus  17.0
669232             Old Fortinbras   NaN
704270                    Horatio  18.0
708468                  Francisco  19.0
827066                      Priam  21.0
990819                Player King  23.0
1074691                 Cornelius  24.0
1082161                  Claudius  25.0
1210509      Fortinbras's Captain  27.0
1316617                 Marcellus  29.0
1400732         Elsinore Courtier   NaN
1417360                   Laertes  31.0
1489191                  Barnardo  30.0
1549128                Old Norway  33.0
1556082                Sailor Two  34.0
1588218                   Pyrrhus   NaN
2040040                Young Lord  38.0
2052796                   Boatman   NaN
2067657                Fortinbras  39.0
2151526               Rosencrantz  40.0
2154960      Fortinbras's Captain  32.0
2221910              Young Hamlet  41.0
2259675              First Player  42.0
2404091                 Voltimand  43.0
2453099                     Osric  45.0
2500066                Sailor One  47.0
2508377                 Alexander   NaN
2737885                  Gertrude   9.0
2814220                    Hecuba  12.0
2835947     Attendant to Gertrude  16.0
2940033                    Doctor  20.0
2999610              Player Queen  22.0
3119901     Attendant to Gertrude  26.0
3154270     Attendant to Gertrude  28.0
3451003                  Prologue  35.0
3456114                Prostitute   NaN
3728751             Second Player  44.0
3751232                   Ophelia  46.0

In [44]:
a4 = cast_data[(cast_data['title']=='Hamlet') & (cast_data['year']==1996)].character.shape[0]
print("No. of roles credited in Branagh\'s 1996 Hamlet are: \n", a4)

No. of roles credited in Branagh's 1996 Hamlet are:
 54

**19. How many "Hamlet" roles have been listed in all film credits through history?**

In [48]:
a5 = cast_data[cast_data['title']=='Hamlet'].character.shape[0]
print("Hamlet roles have been listed in all film credits through history are: \n", a5)

Hamlet roles have been listed in all film credits through history are:
 342

**20. How many people have played an "Ophelia"?**

In [56]:
o =cast_data[cast_data['character']=='Ophelia'].character.shape[0]
print("No. of people who have played ophelia is: \n",o)

No. of people who have played ophelia is:
 117

**21. How many people have played a role called "The Dude"?**

In [57]:
d =cast_data[cast_data['character']=='The Dude'].character.shape[0]
print("No. of people who have played a role called the dude is: \n",d)

No. of people who have played a role called the dude is:
 19

**22. How many people have played a role called "The Stranger"?**

In [58]:
s1 =cast_data[cast_data['character']=='The Stranger'].character.shape[0]
print("No. of people who have played a role called The Stranger is: \n",s1)

No. of people who have played a role called The Stranger is:
 212

**23. How many roles has Sidney Poitier played throughout his career?**

In [13]:
sp = len(cast_data[(cast_data['type']=='actor') & (cast_data['name']=="Sidney Poitier")])
print("How many roles has Sidney Poitier played throughout his career? :  \n",sp)

How many roles has Sidney Poitier played throughout his career? :
 43

**24. How many roles has Judi Dench played?**

In [9]:
jd = len(cast_data[(cast_data['type']=='actress') & (cast_data['name']=="Judi Dench")])
print("no. of roles judy dench has played : \n",jd)

no. of roles judy dench has played :
 55

**25. List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.**

In [14]:
cg = cast_data[(cast_data['name']=="Cary Grant") & (cast_data['n']== 2) & (cast_data['year']==1940)].sort_values('year').head()
print("List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year: \n",cg)

List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year:
                    title  year        name   type   character    n
871423  My Favorite Wife  1940  Cary Grant  actor  Nick Arden  2.0

**26. List the leading roles that Cary Grant played in the 1940s in order by year.**

In [15]:
cg_s= cast_data[(cast_data['name']=="Cary Grant") & (cast_data['n']== 1) & (cast_data['year']==1940)].sort_values('year').head()
print("List the leading roles that Cary Grant played in the 1940s in order by year: \n", cg_s)

List the leading roles that Cary Grant played in the 1940s in order by year:
                           title  year        name   type           character  \
871407          His Girl Friday  1940  Cary Grant  actor        Walter Burns
871448  The Howards of Virginia  1940  Cary Grant  actor         Matt Howard
871450   The Philadelphia Story  1940  Cary Grant  actor  C. K. Dexter Haven

          n
871407  1.0
871448  1.0
871450  1.0

**27. How many roles were available for actors in the 1950s?**

In [62]:
A = cast_data[(cast_data['type']=='actor') & (cast_data['year']==1950)].character.shape[0]
print(A)

16760

**28. How many roles were available for actresses in the 1950s?**

In [63]:
B = cast_data[(cast_data['type']=='actress') & (cast_data['year']==1950)].character.shape[0]
print(B)

5637

**29. How many leading roles (n=1) were available from the beginning of film history through 1980?**

In [17]:
L_r= len(cast_data[(cast_data['n']== 1) & (cast_data['year']==1980)].sort_values('year').head())
print("Number of leading roles available from the beginning of film history through 1980: \n",L_r)

Number of leading roles available from the beginning of film history through 1980:
 5

In [18]:
L_r= cast_data[(cast_data['n']== 1) & (cast_data['year']==1980)].sort_values('year').head()
print("Number of leading roles available from the beginning of film history through 1980: \n",L_r)

Number of leading roles available from the beginning of film history through 1980:
                  title  year                      name   type       character  \
1293     Il pap'occhio  1980         Diego Abatantuono  actor  Padre Gabriele
2333393         Rienie  1980  Johan (II) van der Merwe  actor    Peet Jordaan
2332758         Skelms  1980     Regardt van den Bergh  actor           Doper
2328459   Eden no sono  1980             Ronni Valente  actor         Michele
2325816       Kamionat  1980            Grigor Vachkov  actor         Dedleto

           n
1293     1.0
2333393  1.0
2332758  1.0
2328459  1.0
2325816  1.0

**30. How many non-leading roles were available through from the beginning of film history through 1980?**

In [21]:
NL_r= len(cast_data[(cast_data['n']== 2) & (cast_data['year']==1980)].sort_values('year').head())
print("Number of non-leading roles available from the beginning of film history through 1980: \n",NL_r)

Number of non-leading roles available from the beginning of film history through 1980:
 5

**31. How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?**

In [9]:
minor = len(cast_data[(cast_data['year']==1980) & (cast_data['n'].isnull())]) 
print("How many roles through 1980 were minor enough that they did not warrant a numeric n rank? : \n",minor)

How many roles through 1980 were minor enough that they did not warrant a numeric n rank? :
 4466