# Naive Bayes on Titanic Dataset and Confusion Matrix for 5 dependent variables

In [1]:
import import_ipynb
import pandas as pd

In [2]:
titanic = pd.read_csv('train.csv')
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [3]:
from sklearn import preprocessing

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [32]:
le = preprocessing.LabelEncoder()

In [33]:
le.fit(titanic['Sex'])

LabelEncoder()

In [34]:
print(le.classes_)

['female' 'male']

In [35]:
titanic['Sex']= le.transform(titanic['Sex'])

In [36]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,2

In [37]:
le.fit(titanic['Embarked'])

LabelEncoder()

In [38]:
print(le.classes_)

[0 1 2]

In [56]:
titanic['Embarked']= le.transform(titanic['Embarked'])

In [57]:
le.fit(titanic['Age'])

LabelEncoder()

In [58]:
print(le.classes_)

[ 0.42  0.67  0.75  0.83  0.92  1.    2.    3.    4.    5.    6.    7.
  8.    9.   10.   11.   12.   13.   14.   14.5  15.   16.   17.   18.
 19.   20.   20.5  21.   22.   23.   23.5  24.   24.5  25.   26.   27.
 28.   28.5  29.   30.   30.5  31.   32.   32.5  33.   34.   34.5  35.
 36.   36.5  37.   38.   39.   40.   40.5  41.   42.   43.   44.   45.
 45.5  46.   47.   48.   49.   50.   51.   52.   53.   54.   55.   55.5
 56.   57.   58.   59.   60.   61.   62.   63.   64.   65.   66.   70.
 70.5  71.   74.   80.  ]

In [59]:
titanic['Age']= le.transform(titanic['Age'])

In [61]:
le.fit(titanic['Fare'])

LabelEncoder()

In [62]:
titanic['Fare']= le.transform(titanic['Fare'])

In [64]:
le.fit(titanic['Ticket'])

LabelEncoder()

In [65]:
titanic['Ticket']= le.transform(titanic['Ticket'])

In [66]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,28,1,0,522,18,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,51,1,0,595,207,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",0,34,0,0,668,41,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,47,1,0,48,189,C123,2
4,5,0,3,"Allen, Mr. William Henry",1,47,0,0,471,43,NaN,2

In [41]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [70]:
y = titanic['Survived']

In [71]:
X = titanic.drop(['Survived','PassengerId','Name','Cabin'], axis = 1)

In [72]:
y.count()

889

# Splitting of data into training and testing data

In [73]:
X_train,X_test,y_train,y_test = train_test_split(X, y , test_size=0.3, random_state=0)

In [74]:
X_train.head()

     Pclass  Sex  Age  SibSp  Parch  Ticket  Fare  Embarked
350       1    1   59      0      0      30   167         2
124       3    1   16      1      0     185    75         0
577       3    0   59      1      0     208    95         0
422       3    0   36      1      1     330    93         2
118       3    0    6      4      2     332   158         2

In [75]:
from sklearn.naive_bayes import *

In [76]:
clf = BernoulliNB()

In [77]:
y_pred = clf.fit(X_train,y_train).predict(X_test)

In [80]:
accuracy_score(y_test, y_pred, normalize=True)

0.7715355805243446

# Confusion Matrix for Survived

In [81]:
confusion_matrix(y_test, y_pred)

array([[131,  26],
       [ 35,  75]], dtype=int64)

# Taking PClass as the dependent variable

In [85]:
y = titanic['Pclass']

In [88]:
X = titanic.drop(['Pclass','PassengerId','Name','Cabin'], axis = 1)

In [90]:
X_train,X_test,y_train,y_test = train_test_split(X, y , test_size=0.3, random_state=0)

In [91]:
X_train.head()

     Survived  Sex  Age  SibSp  Parch  Ticket  Fare  Embarked
350         0    1   59      0      0      30   167         2
124         1    1   16      1      0     185    75         0
577         0    0   59      1      0     208    95         0
422         0    0   36      1      1     330    93         2
118         0    0    6      4      2     332   158         2

In [92]:
y_pred = clf.fit(X_train,y_train).predict(X_test)

In [93]:
accuracy_score(y_test, y_pred, normalize=True)

0.5805243445692884

# Confusion Matrix for PClass

In [94]:
confusion_matrix(y_test, y_pred)

array([[ 26,  12,  32],
       [  8,  11,  30],
       [ 20,  10, 118]], dtype=int64)

# Taking Gender as the dependent variable

In [98]:
y = titanic['Sex']

In [99]:
X = titanic.drop(['Sex','PassengerId','Name','Cabin'], axis = 1)

In [101]:
X_train,X_test,y_train,y_test = train_test_split(X, y , test_size=0.3, random_state=0)

In [102]:
X_train.head()

     Survived  Pclass  Age  SibSp  Parch  Ticket  Fare  Embarked
350         0       1   59      0      0      30   167         2
124         1       3   16      1      0     185    75         0
577         0       3   59      1      0     208    95         0
422         0       3   36      1      1     330    93         2
118         0       3    6      4      2     332   158         2

In [103]:
y_pred = clf.fit(X_train,y_train).predict(X_test)

In [104]:
accuracy_score(y_test, y_pred, normalize=True)

0.7490636704119851

# Confusion Matrix for Gender

In [105]:
confusion_matrix(y_test, y_pred)

array([[ 50,  48],
       [ 19, 150]], dtype=int64)

# Taking SibSp as the dependent variable

In [106]:
y = titanic['SibSp']

In [107]:
X = titanic.drop(['SibSp','PassengerId','Name','Cabin'], axis = 1)

In [108]:
X_train,X_test,y_train,y_test = train_test_split(X, y , test_size=0.3, random_state=0)

In [109]:
X_train.head()

     Survived  Pclass  Sex  Age  Parch  Ticket  Fare  Embarked
350         0       1    1   59      0      30   167         2
124         1       3    1   16      0     185    75         0
577         0       3    0   59      0     208    95         0
422         0       3    0   36      1     330    93         2
118         0       3    0    6      2     332   158         2

In [110]:
y_pred = clf.fit(X_train,y_train).predict(X_test)

In [111]:
accuracy_score(y_test, y_pred, normalize=True)

0.6891385767790262

# Confusion Matrix for SibSp

In [112]:
confusion_matrix(y_test, y_pred)

array([[162,  20,   0,   0,   0,   0,   0],
       [ 43,  22,   0,   0,   0,   0,   0],
       [  6,   2,   0,   0,   0,   0,   0],
       [  5,   2,   0,   0,   0,   0,   0],
       [  2,   0,   0,   0,   0,   0,   0],
       [  1,   0,   0,   0,   0,   0,   0],
       [  2,   0,   0,   0,   0,   0,   0]], dtype=int64)

# Taking Parch as the dependent variable

In [113]:
y = titanic['Parch']

In [114]:
X = titanic.drop(['Parch','PassengerId','Name','Cabin'], axis = 1)

In [115]:
X_train,X_test,y_train,y_test = train_test_split(X, y , test_size=0.3, random_state=0)

In [116]:
X_train.head()

     Survived  Pclass  Sex  Age  SibSp  Ticket  Fare  Embarked
350         0       1    1   59      0      30   167         2
124         1       3    1   16      1     185    75         0
577         0       3    0   59      1     208    95         0
422         0       3    0   36      1     330    93         2
118         0       3    0    6      4     332   158         2

In [117]:
y_pred = clf.fit(X_train,y_train).predict(X_test)

In [118]:
accuracy_score(y_test, y_pred, normalize=True)

0.7153558052434457

# Confusion Matrix for Parch

In [119]:
confusion_matrix(y_test, y_pred)

array([[182,  16,   0,   0,   0],
       [ 31,   9,   0,   0,   0],
       [ 24,   3,   0,   0,   0],
       [  1,   0,   0,   0,   0],
       [  1,   0,   0,   0,   0]], dtype=int64)

# Taking Embarked as the dependent variable

In [120]:
y = titanic['Embarked']

In [121]:
X = titanic.drop(['Embarked','PassengerId','Name','Cabin'], axis = 1)

In [122]:
X_train,X_test,y_train,y_test = train_test_split(X, y , test_size=0.3, random_state=0)

In [123]:
X_train.head()

     Survived  Pclass  Sex  Age  SibSp  Parch  Ticket  Fare
350         0       1    1   59      0      0      30   167
124         1       3    1   16      1      0     185    75
577         0       3    0   59      1      0     208    95
422         0       3    0   36      1      1     330    93
118         0       3    0    6      4      2     332   158

In [124]:
y_pred = clf.fit(X_train,y_train).predict(X_test)

In [125]:
accuracy_score(y_test, y_pred, normalize=True)

0.7340823970037453

# Confusion Matrix for Embarked

In [126]:
confusion_matrix(y_test, y_pred)

array([[  0,   0,  49],
       [  0,   0,  22],
       [  0,   0, 196]], dtype=int64)

# Using Loop

In [141]:
DV = ['Survived','Pclass','Sex','SibSp','Parch','Embarked']
for i in DV:
    y = titanic[i]
    X = titanic.drop([i,'PassengerId','Name','Cabin'], axis = 1)
    X_train,X_test,y_train,y_test = train_test_split(X, y , test_size=0.3, random_state=0)
    y_pred = clf.fit(X_train,y_train).predict(X_test)
    a = accuracy_score(y_test, y_pred, normalize=True)
    b = confusion_matrix(y_test, y_pred)
    print("accuracy score for", i ,"is: \n", a)
    print("Confusion Matrix for", i ,"is: \n", b)

accuracy score for Survived is:
 0.7715355805243446
Confusion Matrix for Survived is:
 [[131  26]
 [ 35  75]]
accuracy score for Pclass is:
 0.5805243445692884
Confusion Matrix for Pclass is:
 [[ 26  12  32]
 [  8  11  30]
 [ 20  10 118]]
accuracy score for Sex is:
 0.7490636704119851
Confusion Matrix for Sex is:
 [[ 50  48]
 [ 19 150]]
accuracy score for SibSp is:
 0.6891385767790262
Confusion Matrix for SibSp is:
 [[162  20   0   0   0   0   0]
 [ 43  22   0   0   0   0   0]
 [  6   2   0   0   0   0   0]
 [  5   2   0   0   0   0   0]
 [  2   0   0   0   0   0   0]
 [  1   0   0   0   0   0   0]
 [  2   0   0   0   0   0   0]]
accuracy score for Parch is:
 0.7153558052434457
Confusion Matrix for Parch is:
 [[182  16   0   0   0]
 [ 31   9   0   0   0]
 [ 24   3   0   0   0]
 [  1   0   0   0   0]
 [  1   0   0   0   0]]
accuracy score for Embarked is:
 0.7340823970037453
Confusion Matrix for Embarked is:
 [[  0   0  49]
 [  0   0  22]
 [  0   0 196]]